<!DOCTYPE html>
<html>
  <head>
    <title>Cherry</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= favicon_link_tag 'apple-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'coming-sssoon', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'coming-sssoon-demo', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
